{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Christophe Van Frackem - Développeur Django - Python</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Développeur Python - Django, création site internet, Développement Application Web">
        <meta name="keywords" content="Développeur, Python, Django, site internet, Application Web">
        <meta name="author" content="">
        
        <link href="http://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
        <link href="http://fonts.googleapis.com/css?family=BenchNine" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
        <link href="{% static 'css/bootstrap-responsive.min.css'%}" rel="stylesheet">
        <link href="{% static 'css/style.css'%}" rel="stylesheet">
        <link href="{% static 'css/less.css'%}" rel="stylesheet/less">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        <script src="{% static 'js/less.js'%}"></script>
        
        <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/apple-touch-icon-144-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'img/apple-touch-icon-114-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/apple-touch-icon-72-precomposed.png'%}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'img/apple-touch-icon-57-precomposed.png'%}">
    </head>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="message_{{ message.tags }}"{% endif %}><h2>{{ message }}</h2></li>
                {% endfor %}
            </ul>
        {% endif %}
        <header class="background-navy">
            <a href=""><img src="{% static 'img/logo.png'%}" class="logo" alt="" /></a>
            <nav>
                <ul class="navigation">
                    <li><a href="/#about-me" class="s-tooltip" data-original-title="À propos de moi" data-placement="bottom"><span class="image about-me"></span><span class="title">Moi</span></a></li>
                    <li class="separator"></li>
                    <li><a href="/#skills" class="s-tooltip" data-original-title="Mes compétences" data-placement="bottom"><span class="image skills"></span><span class="title">Compétences</span></a></li>
                    <li class="separator"></li>
                    <li><a href="/#projects" class="s-tooltip" data-original-title="Mes différents projets" data-placement="bottom"><span class="image projects"></span><span class="title">Projets</span></a></li>
                    <li class="separator"></li>
                    <li><a href="/#contacts" class="s-tooltip" data-original-title="Pour toutes vos questions" data-placement="bottom"><span class="image contacts"></span><span class="title">Contact</span></a></li>
                    <li class="separator"></li>
                    <li><a href="{%static 'document/developpement_django_tisspage.pdf'%}" target="_blank" class="s-tooltip" data-original-title="Télécharger ma plaquette" data-placement="bottom"><span class="image resume"></span><span class="title">Plaquette</span></a></li>
                </ul>
            </nav>
        </header>
        
        <div class="container">
            {%block container%}
            {%endblock%}
            <!-- CONTACTS END -->
        </div>
        
        <footer class="background-navy">
            <div class="container">
                <div class="pull-left">Copyright &copy; 2014 | <a href="/mentions-legales" >Mentions légales</a></div>
                <ul class="pull-right">
                    <li></li>
                    <li><a href="https://twitter.com/TissPage" target="_blank" title="Facebook"><span><i class="fa fa-facebook fa-2x"></i></span></a></li>
                    <li><a href="https://twitter.com/TissPage" target="_blank" title="Twitter"><span><i class="fa fa-twitter fa-2x"></i></span></a></li>
                </ul>
            </div>
        </footer>
        
        <a href="#" class="scroll-to-top s-tooltip" data-placement="left" data-original-title="Remonter"><span class="box"><span class="icon icon-white icon-chevron-up"></span></span></a>
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="{%static 'js/jquery.scrollTo.js'%}"></script>
        <script src="{%static 'js/bootstrap.min.js'%}"></script>
        <script src="{%static 'js/style.js'%}"></script>
    </body>
</html>